@{
    ViewData["Title"] = "Home Page";
}
<div>
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 font-weight-normal">Ваш To-Do List</h1>
            <p class="lead font-weight-normal">To Do поможет вам сосредоточиться на любом занятии — от работы до игры.</p>
            <a class="btn btn-primary mb-2" asp-controller="Account" asp-action="Login">Войти</a>
            <a class="btn btn-primary mb-2" asp-controller="Account" asp-action="Register">Регистрация</a>
            @*<a class="btn btn-outline-secondary" href="#">Coming soon</a>*@
        </div>
        
        @*<div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>*@
    </div>
</div>
@*<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">Punny headline</h1>
        <p class="lead font-weight-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts with this example based on Apple’s marketing pages.</p>
        <a class="btn btn-outline-secondary" href="#">Coming soon</a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>*@


@*<div class="render-body-style">

</div>*@

@*@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>

    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Выход" />
    </form>
}*@